---
import Briefcase from "./icons/Briefcase.astro";

const EXPERIENCE = [
  {
    date: "2022 - Actualmente",
    title: "Profesor y Coordinador de Robótica",
    company: "IABOT",
    description:
      "Dictado de clases de robótica y programación para niños y adolescentes.",
  },
  {
    date: "2023 - 2024",
    title: "Desarrollador Frontend",
    company: "Municipalidad de Mercedes Bs. As.",
    description:
      "Desarrollo de aplicaciones web para la gestión de la municipalidad y sus dependencias.",
  },
];
---

<!-- Título con Línea Amarilla -->
<h2
  class="flex items-center text-center md:text-left mb-8 text-3xl font-semibold gap-x-3 text-gray-900 dark:text-white
         border-l-4 border-yellow-400 pl-4"
>
  <Briefcase class="size-8 hover:scale-105 transition-transform duration-300" />
  Experiencia laboral
</h2>

<!-- Lista de Experiencia -->
<ol class="relative mt-16 space-y-8">
  {
    EXPERIENCE.map((experience, index) => (
      <li
        class="border-l-4 border-yellow-400 pl-6"
        aria-label={`Experiencia ${index + 1}: ${experience.title} en ${experience.company}`}
      >
        <p class="text-yellow-300 font-medium">{experience.date}</p>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          {experience.title}
        </h3>
        <h4 class="text-gray-600 dark:text-gray-400">{experience.company}</h4>
        <p class="text-gray-700 dark:text-gray-300 mt-2">
          {experience.description}
        </p>
      </li>
    ))
  }
</ol>
